@font-face {
  font-family: 'Chron';
  src: url('./assets/ChronoType.woff')  format('woff')
}

@font-face {
  font-family: 'Comicoro';
  src: url('./assets/Comicoro.ttf')  format('truetype')
}

html {
    font-family: 'Chron';
    font-size: calc(16px + 1vw);
    background: '#e5e5e5';
    height:100%;
}

::selection {
  background: 'black';
  color:'white';
}

.input:focus {
  outline: none !important;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.shake-it{
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  animation-iteration-count: 1; 
}