button{
  width: auto;
  margin: 5px;
}

.match-lobby-matches{
  width: 20%
}

.match-lobby-players{
  width:80%
}

.match-page-hidden{
  display:none;
}

.match-progress-hidden{
  display:none;
}

.player-list-entry{
  width: auto;
}

.progress{
  height: 40px;
}

.alert{
  top: 0px;
  left: 0px;
  font-size: 1.6rem;
}

.popover{
  background: inherit;
  color: inherit;
  width: 200px;
  font-size: inherit;
  padding: 0px;
  margin: 37px;
  .popover-title{
    background: cornflowerblue;
    border-bottom: inherit;
    color: inherit;
    font-size: inherit;
    height: inherit;
    padding: 5px;
    border-radius: 0px;
  }
}

.carousel{
  img{
    margin-left: 30%;
    width: 250px;
    border: 4px solid cornflowerblue;
    margin-bottom: 14px;
    border-radius: 80px;
    height: 200px !important;
  }
}