
@keyframes pass {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}

.turn-indicator.pulse{
    animation: pass 1s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

.turn-indicator.piece{
    margin-top: 0;
    width: 11%;
    height: 100%;
}

.score{
    height: 2.5em;
    width: 2.5em;
}
